<div class="container mt-5">
  <button
    type="button"
    routerLink="/subjects"
    class="btn btn-secondary mb-3"
    style="
      --bs-btn-padding-y: 0.25rem;
      --bs-btn-padding-x: 0.5rem;
      --bs-btn-font-size: 0.75rem;
    "
  >
    <i class="bi bi-caret-left-fill"></i> To go back
  </button>

  <legend>Change Subject</legend>

  <div class="mb-3">
    <label for="subjectName" class="form-label">Subject Name:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="subjectForm.name"
      id="subjectName"
    />
  </div>
  <div class="mb-3">
    <label for="teacherName" class="form-label">Teacher Name:</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="subjectForm.teacher"
      id="teacherName"
    />
  </div>

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-primary me-md-2" type="submit" (click)="update()">
      Save Subject
    </button>
  </div>
</div>
